* {
    background-color: beige;
}

.wrapper {
    position: relative;
    height: 350px;
    width: 700px;
    margin: 100px auto;
}

.wrapper .controls {
    position: absolute;
    left: 80%;
}

.wrapper > input {
    display: none;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 9px;
    width: 9px;
    margin: 22px 0 0 18px;
    z-index: 2;
    border: 2px solid salmon;
    background-color: salmon;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
    background-color:burlywood;
    border: 2px solid burlywood;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label:active,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
    height: 9px;
    width: 9px;
    border: 2px solid burlywood;
    background: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label:before,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
    height: 9px;
    width: 9px;
    border: 2px solid salmon;
    background: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slider {
    position: relative;
    overflow: hidden;
    height: inherit;
    width: inherit;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    z-index: 3;
}

.slides {
    position: absolute;
    height: inherit;
    width: inherit;
}


.slide1 {
    background-image: url(img/cooking-fail.gif);
    background-size: 350px auto;
    background-position-x: center;
    background-color:black;
    background-repeat: repeat-y;
}
.slide2 {
    background-image: url(img/java_script.png);
    background-size: 525px auto;
    background-position-x: center;
    background-color: white;
    background-repeat: repeat-y;
}
.slide3 {
    background-image: url(img/site_layout.jpg);
    background-size: 527px auto;
    background-position-x: center;
    background-color: black;
    background-repeat: repeat-y;
}
.slide4 {
    background-image: url(img/clean_code.jpeg);
    background-size: 525px auto;
    background-position-x: center;
    background-color: white;
    background-repeat: repeat-y;
}

.text {
    position: absolute;
    width: inherit;
    padding-top: 20px;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
    opacity: 1;
    z-index: 1;
}

#slide1:checked ~ .text > .text1,
#slide2:checked ~ .text > .text2,
#slide3:checked ~ .text > .text3,
#slide4:checked ~ .text > .text4 {
    opacity: 1;
    z-index: 1;
}
